#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
#
# think that dicts are updated/merged with default
# but lists are overidden
makina-projects.projectname:
  data:
    docroot_origin: "{project_root}"
    docroot_origin_test: "test -e {project_root}/index.html"
    extra_rsync_opts: ""
    #activate for destructive rsync
    #extra_rsync_opts: "--delete --delete-excluded"
    docroot_origin_rsync_opts: >-
     -aAzv
     --exclude=.salt
     --exclude='doc*'
     --exclude='README*'
     --exclude='readme*'
     --exclude='.git*'
     --exclude=.svn
     --exclude=.bzr
     {extra_rsync_opts}
    doc_root: "{data_root}/www"
    index: "{doc_root}/index.html"
    htaccess: "/etc/{name}.webaccess"
    domain: "{fqdn}"
    server_aliases: []
    nginx_upstreams: salt://makina-projects/{name}/files/nginx.upstreams.conf
    nginx_vhost: salt://makina-projects/{name}/files/nginx.content.conf
    #force_ssl: false
    #disabled_urls []
    #ldap_url: "ldap://ldap.net/dc=m,dc=com?uid?sub?(objectClass=person)"
    #admin_url: /admin
    #admin_allowed_ips :[]
# vim:set ft=yaml:
